
.form-container {
    padding: 50px;
}
.debugger {
    margin-top: 30px;
    color: white;
    height: 10rem;
    width: 300px;
    display: flex;
    background: black;
    flex-direction: column;
    max-height: 150px;
}
.debugger-row {
    flex: 1;
    margin-left: 10px;
}